.wholeContainer {
  width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para {
  margin: 10px;
  color: #64748b;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f4faff;
}
.card-img {
  width: 80px;
  height: 80px;
}
.mainHeading {
  color: #27b356;
  font-size: 24px;
  margin-bottom: 10px;
}
.unOrderedList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.card-1 {
  border-top: 3px solid #ff4f64;
  border-radius: 18px;
}

.card-2 {
  border-top: 3px solid #52a7f7;
  border-radius: 18px;
}

.card-3 {
  border-top: 3px solid #ffba3d;
  border-radius: 18px;
}

.card-4 {
  border-top: 3px solid #4272f5;
  border-radius: 18px;
}

.para {
  margin: 10px;
  color: #64748b;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

/* Mobile version */
@media (max-width: 600px) {
  .wholeContainer {
    width: auto;
    height: auto;
    padding: 10px;
  }

  .para {
    font-size: 14px;
  }
}
